*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 1);
}
.container .left_side{
    position: relative;
    background: #003147;
    padding: 40px;
}
.profil{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.profil .image{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profil .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profil h2{
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profil h2 span{
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfo{
    padding-top: 40px;
}
.titre{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul{
    position: relative;
}
.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.contactInfo ul li span{
    color: white;
    font-weight: 300;
}
.contactInfo.education li{
    margin-bottom: 15px;
}
.contactInfo.education h5{
    color: #03a9f4;
    font-weight: 500;
}
.contactInfo.education h4{
    color: white;
    font-weight: 300;
}
.contactInfo.education h4:nth-child(2){
    color: white;
    font-weight: 600;
}
.contactInfo.langue .poucentage{
    position: relative;
    width: 100%;
    height: 6px;
    background: black;
    display: block;
    margin-top: 5px;
}
.contactInfo.langue .poucentage div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.container .right_side{
    position: relative;
    background: white;
    padding: 40px;
}
.about{
    margin-bottom: 50px;
}
.about:last-child{
    margin-bottom: 0;
}
.titre2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: #333;
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_company{
    min-width: 150px;
}
.about .box .year_company h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
.about .box .text h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}
.Competences .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.Competences .box h4{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}
.Competences .box .pourcentage{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}
.Competences .box .pourcentage div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.interet ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interet ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.interet ul li .fa{
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
}