*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    margin: 50px;
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 1);
}

.container .left_side{
    position: relative;
    background: #003147;
    padding: 40px;
    display: flex;
    flex-direction: row;
}
.profil .image{
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}
.profil .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contactInfo{
    padding-top: 50px;
}
.contactInfo ul{
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 60px;
}
.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
    margin-left: 20px;
}
.contactInfo ul li .text{
    color: white;
    font-weight: 400;

}
.contactInfo h2{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    font-size: 50px;
}
.container .right_side{
    position: relative;
    background: white;
    padding: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.right_side_left{
    border-right: 2px solid gray;
}
.about{
    margin-bottom: 50px;
}
.about:last-child{
    margin-bottom: 0;
}
.titre2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: #333;
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}
.about .box .year_company{
    min-width: 150px;
}
.about .box .year_company h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
.about .box .text h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}
.Competences .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.Competences .box h4{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}
.Competences .box .pourcentage{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}
.Competences .box .pourcentage div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.interet ul{
    display: grid;
    grid-template-rows: repeat(4,1fr);
}
.interet ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.interet ul li .fa-solid{
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
}
.langue ul{
    display: grid;
    grid-template-rows: repeat(3,1fr);
}
.langue ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}